TELEGRAM_BOT_NAME={{ vault_telegram_bot_name }}
TELEGRAM_BOT_TOKEN={{ vault_telegram_bot_token }}
IMPORT_DOCUMENT_EXAMPLE_URL={{ import_document_example_url }}
GOOGLE_CLIENT_SECRET={{ vault_google_client_secret }}
DATABASE_URL={{ vault_database_url }}
